@model DeviceManagement_WebApp.Models.Category

@{
    ViewData["Title"] = "Search Category";
}

<h1>Category:</h1>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.CategoryDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.DateCreated)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@Model.CategoryId" title="Edit Item">
                        <img src="~/images/edit.png" style="height:20px;width:20px;" />
                    </a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@Model.CategoryId" title="View Details">
                        <img src="~/images/details.png" style="height:20px;width:20px;" />
                    </a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@Model.CategoryId" title="Delete Item">
                        <img src="~/images/delete.png" style="height:20px;width:20px;" />
                    </a>
                </td>
            </tr>
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>